<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Avatar Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <file>src/ServiceProvider.php</file>
                <file>src/Facade.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
